body {
    margin: 0;
    padding: 0;
    background: url(../imagenes/borro.jpeg) no-repeat center top;
    background-size: cover;
    font-family: 'Georama', sans-serif;
    height: 100vh;
  }
  
  .login-box {
    width: 450px;
    height: 780px;
    background: #3e3c4d;
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 25px 30px;
  }
  
  .login-box .logo {
    width: 300px;
    height: 300px;
    border-radius: 10%;
    position: absolute;
    top: -200px;
    left: calc(50% - 100px);
  }
  
  .login-box h1 {
    margin: 0;
    padding: 0 0 30px;
    text-align: center;
    font-size: 34px;
  }
  
  .login-box label {
    margin: 0;
    padding: 0;
    font-weight: bold;
    display: block;
    font-size: 23px;
  }

  
  .login-box input {
    width: 100%;
    margin-bottom: 20px;
  }


  .login-box input[type="text"], .login-box input[type="password"] {
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 20px;
  }
  
  .login-box input[type="submit"] {
    border: none;
    outline: none;
    height: 40px;
    background: #b80f22;
    color: #fff;
    font-size: 23px;
    border-radius: 20px;
    font-family: 'Georama', sans-serif;
    font-weight: bold;
  }
  
  .login-box input[type="submit"]:hover {
    cursor: pointer;
    background: #fcd49c;
    color: #000;
  }
  
  .login-box a {
    text-decoration: none;
    font-size: 20px;
    line-height: 50px;
    color: darkgrey;
    text-transform: uppercase;
    font-weight: bold;
  }
  
  .login-box a:hover {
    color: #fff;
  }







/*------------------------------------------------~Footer~-----------------------------------------------------------*/
footer{
  width: 100%;
  background: #202020;
  color: white;   
  
}

.container-footer-all{
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 40px;
}

.container-body{
  display: flex;
  justify-content: space-between;
}

.colum1{
  max-width: 400px;
}

.colum1 h1{
  font-size: 22px;
}

.colum1 p{
  font-size: 14px;
  color: #C7C7C7;
  margin-top: 20px;
}

.colum2{
  max-width: 400px;
  
}

.colum2 h1{
  font-size: 22px;
}

.row{
  margin-top: 20px;
  display: flex;
}

.row img{
  width: 36px;
  height: 36px;
}

.row label{
  margin-top: 10px;
  margin-left: 20px;
  color: #C7C7C7;
}

.colum3{
  max-width: 400px;
}

.colum3 h1{
  font-size: 22px;
}

.row2{
  margin-top: 20px;
  display: flex;
}

.row2 img{
  width: 36px;
  height: 36px;
}

.row2 label{
  margin-top: 10px;
  margin-left: 20px;
  max-width: 140px;
}

.container-footer{
  width: 100%;  
  background: #101010;
}

.footer{
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;  
  padding: 20px;
}

.copyright{
  color: #C7C7C7;
}

.copyright a{
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.information a{
  text-decoration: none;
  color: #C7C7C7;
}


@media screen and (max-width: 1100px){
  
  .container-body{
      flex-wrap: wrap;
  }
  
  .colum1{
      max-width: 100%;
  }
  
  .colum2,
  .colum3{
      margin-top: 40px;
  }
}








a{
  text-decoration: none;
}
