*{
  box-sizing: border-box;
}

body{
  margin: 0;
  font-family: sans-serif;
  background: #f2efe6;
}

header{
  height: 120px;
  background-color:  #f2c397 ;
}

a{
  text-decoration: none;
  text-transform: uppercase;
}
/*------------------------------------------------------------------------------------inicia menu lateral------------------------------------------------------------------------*/
#deco{
  min-width: 100px;
}

#deco img{
  cursor: pointer;
}

#separa img{
 width: 200px;
 height: 100px; 
}

.ini{
  color: white;
  text-align: center;
}

.inicio{
  text-align: center;
}

.inicio:hover{
  background-image: radial-gradient(#8478ac, #bda4f5 60%);
}

header #Primeratabla{
  height: 70px;
  max-height: 70px;
  background-color:  #f2c397;
}

.inicio{
  min-width: 200px;
  font-size: 23px;
}

#jobsam{
  height: 40px;
}

#botonmenu{
  display: none;
}

.FSN{
  position: absolute;
  background:  rgb(0, 0, 0, 0.9);
  width: 100%;
  height: 164vh;
  top: 0;
  left: 0;
  transition: all 500ms ease;
  opacity: 0;
  visibility: hidden;
}

#botonmenu:checked ~ .FSN{
  opacity: 1;
  visibility: visible;
}

#agrandar{
  width: 100%;
}

.navio{
  width: 100%;
  max-width: 250px;
  height: 164vh;
  position: relative;
  transition: all 500ms ease;
  transform: translateX(-100%);
  background:  #f2c397 ;
}

#botonmenu:checked ~ .FSN .navio{
  transform: translateX(0%);
}

.navio .ARV{
  transform: translateY(15%);
}

.navio .ARV  .JIE{
  display: block;
  padding: 30px;
  border-left: 5px solid transparent;
  transition: all 400ms ease;
  color: black;
  text-decoration: none;
  font-size: 25px;
  border-spacing: 15px;
  font-weight: bolder;
  word-spacing: 25;
  letter-spacing: 25;
}

.navio .ARV .JIE:hover{
  border-left: 5px solid aqua;
  background: #864b7e;
  color: white;
}

.navio label{
  position:absolute;
  right: 5px;
  top: 10px;
  color: #fff;
  cursor: pointer;
  font-size: 18px;
}



/*------------------------------------------------~Footer~-----------------------------------------------------------*/
footer{
  width: 100%;
  background: #202020;
  color: white;   
  
}

.container-footer-all{
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 40px;
}

.container-body{
  display: flex;
  justify-content: space-between;
}

.colum1{
  max-width: 400px;
}

.colum1 h1{
  font-size: 22px;
}

.colum1 p{
  font-size: 14px;
  color: #C7C7C7;
  margin-top: 20px;
}

.colum2{
  max-width: 400px;
  
}

.colum2 h1{
  font-size: 22px;
}

.row{
  margin-top: 20px;
  display: flex;
}

.row img{
  width: 36px;
  height: 36px;
}

.row label{
  margin-top: 10px;
  margin-left: 20px;
  color: #C7C7C7;
}

.colum3{
  max-width: 400px;
}

.colum3 h1{
  font-size: 22px;
}

.row2{
  margin-top: 20px;
  display: flex;
}

.row2 img{
  width: 36px;
  height: 36px;
}

.row2 label{
  margin-top: 10px;
  margin-left: 20px;
  max-width: 140px;
}

.container-footer{
  width: 100%;  
  background: #101010;
}

.footer{
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;  
  padding: 20px;
}

.copyright{
  color: #C7C7C7;
}

.copyright a{
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.information a{
  text-decoration: none;
  color: #C7C7C7;
}


@media screen and (max-width: 1100px){
  
  .container-body{
      flex-wrap: wrap;
  }
  
  .colum1{
      max-width: 100%;
  }
  
  .colum2,
  .colum3{
      margin-top: 40px;
  }
}


a{
  text-decoration: none;
}




