body{
    background-color: #2C3E50 ;
}

.Titulo{
    font-family: 'Neucha', cursive;
    color: white;
}

nav{
   color: white;
}

.descripcion{
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(253, 255, 254);
    background-attachment: fixed;
    font-size: 20px;
    font-family: 'Neucha', cursive;
    text-transform: uppercase;
}

a{
    color: rgb(136, 226, 19);
    font-family: 'Neucha', cursive;
    font-size: 25px;
    font-weight: bolder;
}

.muestra{
    border-color: greenyellow;
}