body {
    margin: 0;
    padding: 0;
    background: url(../imagenes/entertaiment.jpg) no-repeat center top;
    background-size: cover;
    font-family: 'Georama', sans-serif;
    height: 100vh;
  }
  
  .login-box {
    width: 450px;
    height: 780px;
    background: #3e3c4d;
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 25px 30px;
  }
  
  .login-box .logo {
    width: 300px;
    height: 300px;
    border-radius: 10%;
    position: absolute;
    top: -200px;
    left: calc(50% - 100px);
  }
  
  .login-box h1 {
    margin: 0;
    padding: 0 0 30px;
    text-align: center;
    font-size: 34px;
  }
  
  .login-box label {
    margin: 0;
    padding: 0;
    font-weight: bold;
    display: block;
    font-size: 23px;
  }

  
  .login-box input {
    width: 100%;
    margin-bottom: 20px;
  }


  .login-box input[type="text"], .login-box input[type="password"] {
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 20px;
  }
  
  .login-box input[type="submit"] {
    border: none;
    outline: none;
    height: 40px;
    background: #b80f22;
    color: #fff;
    font-size: 23px;
    border-radius: 20px;
    font-family: 'Georama', sans-serif;
    font-weight: bold;
  }
  
  .login-box input[type="submit"]:hover {
    cursor: pointer;
    background: #fcd49c;
    color: #000;
  }
  
  .login-box a {
    text-decoration: none;
    font-size: 20px;
    line-height: 50px;
    color: darkgrey;
    text-transform: uppercase;
    font-weight: bold;
  }
  
  .login-box a:hover {
    color: #fff;
  }





/*-----------------------------------------------------------------------------~Footer~----------------------------------------------------------------------------------------*/
.redes{
  height: 40px;
  width: 40px;
}
footer{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #1c1c1c;
  height: auto;
  width: 100%;
  font-family: "Open Sans";
  padding-top: 40px;
  color: #fff;
}
.footerclass{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.footerclass h3{
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 3rem;
}
.footerclass p{
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
}
#footertable{
  border-collapse: separate;
  border-spacing: 30px;
  background: #1c1c1c;
}
.footertd{
  width: 100px;
  height: 100px;
  background: #1c1c1c;
}
.footertd:hover{
  background-image:linear-gradient(black, purple);
  width: 100px;
}
.ultimo{
  background: #040404;
  width: 100%;
  padding: 20px 0;
  text-align: center;
}
.ultimo p{
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}
.ultimo span{
  text-transform:  uppercase;
  opacity: .4;
  font-weight: 200;
}