
*{
	box-sizing: border-box;
  }
  
  body{
	margin: 0;
	font-family: sans-serif;
	background: #f2efe6;
  }
  
  header{
	height: 100px;
	background-color:  #f2c397 ;
  }
  
  a{
	text-decoration: none;
	text-transform: uppercase;
  }
  /*------------------------------------------------------------------------------------inicia menu lateral------------------------------------------------------------------------*/
  #deco{
	min-width: 100px;
  }
  
  #deco img{
	cursor: pointer;
  }
  
  #separa img{
   width: 200px;
   height: 100px; 
  }
  
  .ini{
	color: white;
	text-align: center;
  }
  
  .inicio{
	text-align: center;
  }
  
  .inicio:hover{
	background-image: radial-gradient(#8478ac, #b170b1 60%);
  }
  
  header #Primeratabla{
	height: 70px;
	max-height: 70px;
	background-color:  #fa0969;
	width: 100%;
	border: none;
  }
  
  .inicio{
	min-width: 200px;
	font-size: 23px;
  }
  
  #jobsam{
	height: 40px;
  }
  
  #botonmenu{
	display: none;
  }
  
  .FSN{
	position: absolute;
	background:  rgb(0, 0, 0, 0.9);
	width: 100%;
	height: 164vh;
	top: 0;
	left: 0;
	transition: all 500ms ease;
	opacity: 0;
	visibility: hidden;
  }
  
  #botonmenu:checked ~ .FSN{
	opacity: 1;
	visibility: visible;
  }
  
  #agrandar{
	width: 100%;
  }
  
  .navio{
	width: 100%;
	max-width: 250px;
	height: 164vh;
	position: relative;
	transition: all 500ms ease;
	transform: translateX(-100%);
	background:  #f2c397 ;
  }
  
  #botonmenu:checked ~ .FSN .navio{
	transform: translateX(0%);
  }
  
  .navio .ARV{
	transform: translateY(15%);
  }
  
  .navio .ARV  .JIE{
	display: block;
	padding: 30px;
	border-left: 5px solid transparent;
	transition: all 400ms ease;
	color: black;
	text-decoration: none;
	font-size: 25px;
	border-spacing: 15px;
	font-weight: bolder;
	word-spacing: 25;
	letter-spacing: 25;
  }
  
  .navio .ARV .JIE:hover{
	border-left: 5px solid aqua;
	background: #864b7e;
	color: white;
  }
  
  .navio label{
	position:absolute;
	right: 5px;
	top: 10px;
	color: #fff;
	cursor: pointer;
	font-size: 18px;
  }
  
  /*------------------------------------------------~Footer~-----------------------------------------------------------*/
  .redes{
	height: 40px;
	width: 40px;
  }
  footer{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background: #1c1c1c;
	height: auto;
	width: 100%;
	font-family: "Open Sans";
	padding-top: 40px;
	color: #fff;
  }
  .footerclass{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;
  }
  .footerclass h3{
	font-size: 1.8rem;
	font-weight: 400;
	text-transform: capitalize;
	line-height: 3rem;
  }
  .footerclass p{
	max-width: 500px;
	margin: 10px auto;
	line-height: 28px;
	font-size: 14px;
  }
  #footertable{
	border-collapse: separate;
	border-spacing: 30px;
	background: #1c1c1c;
  }
  .footertd{
	width: 30px;
	height: 30px;
	background: #1c1c1c;
  }
  .footertd:hover{
	background-image:linear-gradient(black, purple);
	width: 100px;
  }
  .ultimo{
	background: #040404;
	width: 100%;
	padding: 20px 0;
	text-align: center;
  }
  .ultimo p{
	font-size: 14px;
	word-spacing: 2px;
	text-transform: capitalize;
  }
  .ultimo span{
	text-transform:  uppercase;
	opacity: .4;
	font-weight: 200;
  }
  
  .menu{
	text-align: center;
	margin: 20px;
  }
  
  .menu li{
	display: inline-block;
	text-align: center;
  }
  
  .menu li a{
	display: inline-block;
	color: white;
	text-decoration: none;
	background-color: grey;
	padding: 10px;
	width: 20px;
	height: 20px;
	font-size: 20px;
	border-radius: 100%;
  }
  
  #segundo{
	width: 2000px;
  }
  
  
  /*------------------------------------------------~Footer~-----------------------------------------------------------*/
  .redes{
	height: 40px;
	width: 40px;
  }
  footer{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background: #1c1c1c;
	height: auto;
	width: 100%;
	font-family: "Open Sans";
	padding-top: 40px;
	color: #fff;
  }
  .footerclass{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;
  }
  .footerclass h3{
	font-size: 1.8rem;
	font-weight: 400;
	text-transform: capitalize;
	line-height: 3rem;
  }
  .footerclass p{
	max-width: 500px;
	margin: 10px auto;
	line-height: 28px;
	font-size: 14px;
  }
  #footertable{
	border-collapse: separate;
	border-spacing: 30px;
	background: #1c1c1c;
  }
  .footertd{
	width: 10px;
	height: 10px;
	background: #1c1c1c;
  }

  .footertd:hover{
	background-image:linear-gradient(black, purple);
	
  }
  .ultimo{
	background: #040404;
	width: 100%;
	padding: 20px 0;
	text-align: center;
  }
  .ultimo p{
	font-size: 14px;
	word-spacing: 2px;
	text-transform: capitalize;
  }
  .ultimo span{
	text-transform:  uppercase;
	opacity: .4;
	font-weight: 200;
  }
.pelicula-principal {
	font-size: 16px;
	min-height: 40.62em;
	color: #fff;
	background: linear-gradient(rgba(0, 0, 0, .50) 0%, rgba(0,0,0,.50) 100%), url(../imagenes/Rapidos-Furiosos.jpg);
	background-position: center center;
	background-size: cover;
	margin-bottom: 3.12em;
	display: flex;
	align-items: end;
	width: 100%;
}

.pelicula-principal .contenedor {
	margin: 0 auto;
	margin-bottom: 6.25em;
}

.pelicula-principal .titulo {
	font-weight: 600;
	font-size: 3.12em;
	margin-bottom: 0.4em;
}

.pelicula-principal .descripcion {
	font-weight: normal;
	font-size: 1em;
	line-height: 1.75em;
	max-width: 50%;
	margin-bottom: 1.25em;
}

.pelicula-principal .boton {
	background: rgba(0,0,0, 0.5);
	border: none;
	border-radius: 0.31em;
	padding: 0.93em 1.87em;
	color: #fff;
	margin-right: 1.25em;
	cursor: pointer;
	transition: .3s ease all;
	font-size: 1.12em;
}

.pelicula-principal .boton:hover {
	background: #fff;
	color: #000;
}

.pelicula-principal .boton i {
	margin-right: 1.25em;
}

table{
	font-size: 26px;
	margin:0 auto;  
	border-collapse: collapse;
	width: 800px;
}

th, td{
	background-color: #ebe6e6b2;
	color: rgb(2, 2, 2);
	padding: 20px;
}

thead{
	background: black;
	color: rgb(26, 26, 26);
	border-bottom: solid 5px;
}

.descripcion{
	text-align: justify;
}