body{
    margin: 0;
    background: #2C3E50;
}

header{
    height: 400px;
    background-image: url(https://img.wattpad.com/userbg/LuckyuLuke.94977.jpg);
    background-size: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    font-family: 'Handlee', cursive;
    font-size: 18pt;
    background: linear-gradient(90deg,
    #6c7777);

    opacity: 2.50px;
    z-index: -1;
}

a{
    color: #f6287b;
    font-family: 'Handlee', cursive;
}

header #Primeratabla{
    max-height: 50px;
}

#segundo{
    width: 2000px;
}


#jobsam{
    height: 40px;
}
#invisible{
    border-top: 1rem;
    padding: 25%;
    border-collapse: collapse;
    margin-left: 125px;
    margin-top: 1rem;
    width: 1300px;
}

.invi{
    text-align: center;
    color: #efefef;
    border-radius: 500%;
    padding: 5px;
    text-transform: uppercase;
}
.muestra{
    border-top: 1rem;
    padding: 7%;
    border-collapse: collapse;
    margin-left: 125px;
    margin-top: 1rem;
    width: 1300px;
}
.mues{
    background-color: #4c3f6e;
    border: solid #16efdc;
    text-align: center;
    width: 600px;
    color: #efefef;
}
.mus{
    background-color: #4c3f6e;
    border: solid #16efdc;
    text-align: center;
    width: 600px;
    color: #efefef;
}

.what{
    font-size: 35px;
    font-family: 'Karla', sans-serif;
    text-align: center;
    font-weight: bolder;
}

.bro{
    font-size: 45pt;
    font-family: 'Karla', sans-serif;
    color: #E42543;
    font-weight: bold
}

#agrandar{
    width: 110%;
}
#inicio{
    min-width: 130px;

}
.muestra .mus:hover{
    background-color:#864b7e;
    color: #efefef
}
.muestra .mues:hover{
    background-color: #864b7e;
    color: #efefef
}

#btn-menu{
    display: none;
}



header label:hover{
    cursor: pointer;
    background: #E42543;
}

.menu ul{
    margin: 0;
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: flex;
    flex-direction: row;
}

.menu li{
 border-right: 1px solid #fbfbfb;
}

.menu li:hover{
    background: #8dd10e;
}

.menu li a{
    display: block;
    padding: 15px 20px;
    color: red;
    text-decoration: none;
}

@media (max-width:10000px){

    header label{
        display: block;

    }

    .menu{
        position: absolute;
        background: #fbfbfb; 
        width: 20%;
        margin-left: -70%;
        transition: all 0.5s;
    }

    .menu ul{
        flex-direction: column;
    }

    .menu li{
        border-top: 1px solid blue;
    }

    #btn-menu:checked ~ .menu{
        margin: 0;

    }
}





