:root{
    --rojo: #e50914;
    --fondo: #141414;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #141414;
    font-family: "Open Sans";
}

/*Contenedor Titulos y Controles*/
.contenedor-titulo-controles{
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.contenedor-titulo-controles h3{
    color: #fff;
    font-size: 30px;
}

.contenedor-titulo .indicadores button{
    background: #fff;
    height: 3px;
    width: 10px;
    cursor: pointer;
    border: none;
    margin-right: 2px;
}

/* --- Contenedor Principal y flechas */
.peliculas-recomendadas{
  margin-bottom: 70px;   
}

.peliculas-recomendadas .contenedor-principal{
 display: flex;
 align-items: center;
 position: relative;
}

.peliculas-recomendadas .contenedor-principal .flecha-izquierda,
.peliculas-recomendadas .contenedor-principal .flecha-derecha{
 position: absolute;
 border: none;
 background: rgba(0,0,0,0.3);
 font-size: 40px;
 height: 50%;
 top: calc(50% - 25);
 line-height: 40px;
 width: 50px;
 color: #fff;
 cursor: pointer;
 z-index: 500;
 transition: .2s ease all;
}

.peliculas-recomendadas .contenedor-principal .flecha-izquierda:hover,
.peliculas-recomendadas .contenedor-principal .flecha-derecha:hover{
    background: rgba(0,0,0, .9);
}

.peliculas-recomendadas .contenedor-principal .flecha-izquierda{
    left: 0;
}

.peliculas-recomendadas .contenedor-principal .flecha-derecha{
    right: 0;
}

/** Carousel */
.peliculas-recomendadas .contenedor-carousel{
    width: 100%;
    padding: 20px 0;
    overflow: hidden;
    scroll-behavior: smooth;
}

.peliculas-recomendadas .contenedor-carousel .carousel{
    display: flex;
    flex-wrap: nowrap;
}

.peliculas-recomendadas .contenedor-carousel .carousel .pelicula{
 min-width: 20%;
 transition: .3s ease all;
 box-shadow: 5px 5px 10px  rgba(0,0,0,0.3);
}

.peliculas-recomendadas .contenedor-carousel .carousel .pelicula{
    min-width: 20%;
    transition: .3s ease all;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
}

.peliculas-recomendadas .contenedor-carousel .carousel .pelicula.hover{
    transform: scale(1.2);
    transform-origin: center;
}

.peliculas-recomendadas .contenedor-carousel .carousel .pelicula img{
    width: 113px;
    height: 165px;
    vertical-align: top;
}

/* Media queries */
@media screen and (max-width: 800px){
    .peliculas-recomendadas .contenedor-carousel{
        overflow: visible;
    }

    .peliculas-recomendadas .contenedor-carousel .carousel{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }

    .peliculas-recomendadas .indicadores,
    .peliculas-recomendadas .flecha-izquierda,
    .peliculas-recomendadas .flecha-derecha{
        display: none;
    }
}


/*footer*/

.redes{
    height: 20px;
    width: 20px;
}

footer{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #1c1c1c;
    height: auto;
    width: 100vW;
    font-family: "Open Sans";
    padding-top: 40px;
    color: #fff;
}

.footer-class{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }
  
.footer-class h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}

.footer-class p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}

#footer-table{
 border-collapse: separate;
 border-spacing: 10px;
}

.footer-td{
 width: 30px;
height: 30px;
}

.footer-td:hover{
  background-image: linear-gradient(black, purple);
}

.ultimo{
  background: #000;
  width: 100vw;
  padding: 20px 0;
  text-align: center;
}

.ultimo p{
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}

.ultimo span{
  text-transform: uppercase;
  opacity: 4;
  font-weight: 200;
}
